<html>
  <head>
    <title>My Website</title>
  </head>
  <body>
    <div style="width: 900px;">
      <h1>My Website</h1>

      <script src="/assets/embed.js"></script>

      <p>Copyright 2017 Myself</p>
    </div>
  </body>
</html>