#search_pcm_map_sidebar > img{
  width: 20px;
  height: 30px;
  padding: 1px;
  vertical-align: middle;
}

#events_near_you > div {
  padding: 1.2em;
}


#climate_map_search_error {
  display: none;
}
